<html>
    <head>
        <style>
            body {
                font-family: : Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <strong>Olá, {{name}}</strong>
        <p>VocÊ tem uma nova solicitação de compra para o anúncio {{title}}</p>
        <br>
        <strong>{{ userName }} ({{ userEmail }}): </strong>
        <p>{{ content }}</p>        
    </body>

</html>